table{
    width: 90%;
    background-color: aliceblue;
}
.container{
    margin-top: 1%;
   
    width: auto;
    text-align: center;

}
.container h1{
    padding-top: 2%;
}
table thead th {
    text-align: center;
}
nav{
    align-self: center;
    text-align: center;
}table tr td{
    text-align: center;
}
td a{
    color: black;
    vertical-align: middle;
}
td img{
    width:200px;height:auto;
}