.master-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;

}
*{
    font-family: 'Nunito', sans-serif;
}
body {
    min-height: 100vh;
}